<!DOCTYPE html>
<html class="h-full">

<head>
  <!-- <meta charset="utf-8" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Deepgram Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

  <link rel="icon" href="assets/dg_favicon.ico" type="image/x-icon" />
  <!-- <link rel="stylesheet" href="style.css" /> -->

  <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js" defer></script>

  <!-- note that this is put above the script -->
  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.store('chat', {
        messages: [ { type: 'tool_end', data: 'Chat has started' }, { type: 'chat_model_stream', data: "Hello! How may I help?" }]
        // messages: [{ type: 'human', data: "Hi!" }, { type: 'chat_model_stream', data: "Hello! How may I help" }, { type: 'tool_start', data: 'tool is called' }, { type: 'tool_end', data: 'tool has ended' }, { type: 'chat_model_stream', data: "Ok! I will create this order." }, { type: 'human', data: "Hi!" }, { type: 'chat_model_stream', data: "Hello! How may I help" }, { type: 'tool_start', data: 'tool is called' }, { type: 'tool_end', data: 'tool has ended' }, { type: 'chat_model_stream', data: "Ok! I will create this order." }]
      });
    });
  </script>
</head>

<body class=" h-full">
  <div class=" h-full">
    <main class="mx-3 h-full">
      <div class="flex justify-between flex-row items-center">

        <h3 class="text-3xl font-bold dark:text-white p-3">Foodering - Chat</h3>
        <button id="play-button">
          <i class="button-icon fa-solid fa-play"></i>
        </button>
        <button x-data x-on:click="toCart()" class="btn btn-accent">Proceed to cart</button>
        <!-- <button x-on:click="console.log('hey')" class="btn btn-accent">Proceed to cart</button> -->

        <!-- <h1>Text-to-Speech</h1> -->
      </div>

      <!-- <div class="grid-container"> -->
      <div class="flex flex-col items-center overflow-scroll h-full">

        <section class="flex flex-col items-center gap-1 w-full overflow-scroll h-5/6">
          <!-- <div class="prose">
            <h2>Chat with the ordering assistant</h2>
          </div> -->
          <div class="fixed bg-base-200 w-full bottom-0 flex flex-col items-center z-10 ">

            <div class="w-full p-5 flex flex-col justify-center items-center">

              <!-- <label for="text-input-model" class=" text-lg">The actual input to the LLM:</label> -->

              <!-- <textarea placeholder="Add text to be passed to the llm model:"></textarea> -->
              <textarea id="text-input-model" class="textarea textarea-primary w-full"
                placeholder="Ask to order, cancel, or view current order..."></textarea>

              <button id="send-text" class="btn btn-primary w-full">
                send text data
              </button>
            </div>
          </div>
          <!-- <div id="chatModelStream">Will be replaced by llm output</div> -->
          <template x-for="message in $store.chat.messages" x-data>
            <div class="w-full mb-5">
              <template x-if="message.type == 'chat_model_stream'">
                <div class="chat chat-start">
                  <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                      <img alt="Bot profile picture" src="assets/dg_favicon.ico" />
                    </div>
                  </div>
                  <div class="chat-header">Ordering assistant</div>
                  <div class="chat-bubble" x-text="message.data"></div>
                </div>
              </template>
              <template x-if="message.type == 'tool_start' || message.type == 'tool_end'">
                <!-- <div class="chat chat-start"> -->
                <div class="divider" x-text="message.data"></div>
                <!-- </div> -->
              </template>
              <template x-if="message.type == 'human'">
                <div class="chat chat-end">
                  <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                      <img alt="User profile picture"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                    </div>
                  </div>
                  <div class="chat-header">You</div>
                  <div class="chat-bubble" x-text="message.data"></div>
                </div>
              </template>
              <!-- <p class="chat-start" x-text="message.data"></p> -->
            </div>
          </template>
        </section>
      </div>
      <!-- </div> -->
    </main>
  </div>
  <script src="client.js"></script>

</body>

</html>

<script>
  const toCart = () => {
    console.log("LOL!")
    fetch("http://127.0.0.1:10000/api/order-chatbot", {
      method: "POST", // Use POST for sending data
      headers: {
        "Content-Type": "application/json" // Set the content type to JSON
      },
      body: {}
    })
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json(); // Parse the JSON response from the server
      })
      .then(result => {
        console.log("Server response:", result);
        window.location.href = window.location.href.slice(0, -7) + 'order'
      })
      .catch(error => {
        console.error("Error sending data:", error);
      });
  }
</script>